#chat-button {
    bottom: auto;
    height: 4vh;
    padding: 2vh;
    background-color: var(--chat-click-color);
    border-radius: 100%;
    margin-bottom: 1vh;
    margin-left: 1vh;
    box-shadow: 1px 0px 1px black;
    pointer-events: all;
    transition: 200ms;
    user-select: none;
}

#chat-button:hover {
    background-color: var(--button-highlight);
}

#chat-button:active {
    background-color: var(--button-active);
}

#primary-chat-container {
    background-color: var(--schedule-background);
    position: relative;
    width: fit-content;
    
    margin-left: 1vw;
    margin-bottom: 1vh;
    padding: 1vh;
    pointer-events: all;
    border-radius: 5px ;
    box-shadow: 0px 0px 2px black;
    display:block;
    height: fit-content;
}



#innerbackground-chat {
    background-color: var(--list-color);
    margin: 0;
    border-radius: 5px ;
    width: fit-content;
    height: fit-content;
}

#chat-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    padding: 1vh;
}

#chat-sendinput {
    height: 3vh;
    margin: 0;
    margin-left: .5vw;
    background-color: var(--button-active);
    padding: .9vh;
    border-radius: 25px ;
    user-select: none;
    
}

#chat-textinput {
    margin: 0;
    background-color: var(--button-active);
    border: none;
    border-radius: 5px;
    height: 70%;
    padding: 1vh;
    color: var(--focus-text-color);
    width: 100%;
    user-select: none;
}


#msglist{
    
    padding: 0px;
    margin: 0px;
    width: fit-content;
    height: 250px;
    padding-inline-start: 0;
    margin-inline-start: 0;
    padding-top:2.5px;
    overflow-y: auto;
}
.msg {
    background-color: var(--chat-msg-color);
    width: 244px;
    list-style: none;
    padding: 0;
    margin: 5px;
    color: var(--focus-text-color);
    overflow: auto;
}

.nmtm-cont {
    overflow: auto;
}

.msgcontent {
    margin: 0;
    padding: 0;
    margin: 5px;
    margin-top: 0;
    color: var(--chat-content-color);
    word-wrap: break-word;
    font-size: 12px;
}
.msgname {
    display: inline;
    float:left;
    margin: 5px;
    padding: 0;
    color: var(--chat-click-color);
    font-size: 12px;
}

.msgtime {
    color: var(--chat-time-color);
    font-size: small;
    display: inline;
    float: right;
    margin: 3px;
    padding: 0;
    font-size: 9px;
}

#connectioncount {
    
    color: var(--focus-text-color);
}

#connectiondiv {
    position: absolute;
    display: flex;
    float: left;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    align-items: center;
}

#connectionpng {
   
    height: 50px;
}

#lvcht {
    color: var(--focus-text-color);
    text-align: center;
    margin: 0;
    padding: 2px;
    font-size: medium;
}

@media screen and (max-device-width: 600px) {

    #chat-sendinput {
        height: 25px;
    }
    #chat-button:hover {
        background-color: var(--chat-click-color); 
    }

    #primary-chat-container {
        margin: 0 auto;
        width: 322px;
    }

    #innerbackground-chat {
        margin: 0 auto;
        width: 322px;
    }

    #msglist {
        height: 416px;
    }
    .msg {
        width: 310px;
    }
}