@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* colors */
    --body-background-color: #262626;
    --primary-div-background: #292929;
    --nav-underline-color: #ffffff;
    --focus-text-color: #ffffff;
    --button-highlight: #2b2b2b;
    --button-active: #3c3c3c;
    --secondary-dark: #242424;

    /* width-height modifieds */
    --nav-hoverunderline: 5px;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-background-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #474747;
}