#doc {
    width: 768px;
    position: absolute;
    background-color: #1c1c1c;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 64px;
    padding-bottom: 86px;
    color: white;
    overflow-y: auto;
    height: auto;
}

.container {
    padding: 16px;
}

.title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 16px;
    color: #336dff;
}

.list {
    border-radius: 16px;
    background-color: #242424;
    padding: 16px;
}

.event {
    margin-bottom: 32px;
}

.eventtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
}

.eventtime {
    display: inline;
    color: #888888;
}

.eventdate {
    display: inline;
    float: right;
    color: #888888;
}