#doc {
    width: 60vw;
    position: absolute;
    background-color: #1c1c1c;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10vh;
    padding-bottom: 86px;
    color: white;
    overflow-y: auto;
    height: 75%;
    box-shadow: 0px 0px 10px black;
}

.container {
    padding: 16px;
}

.title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--focus-text-color);
}

.list {
    border-radius: 16px;
    background-color: #242424;
    padding: 2.5vh;
    height: fit-content;
}

.event {
    margin-bottom: 1vh;
    border-top: 1px #bebebe solid;
    padding-top: 1vh;
}

.firstevent {
    margin-top: 0;
}

.lastevent {
    margin-bottom: 0;
}

.eventtitle {
    font-weight: 600;
    font-size: 2.5vh;
    margin-bottom: 8px;
    color: #bebebe;
}

.eventtime {
    display: inline;
    color: #888888;
    font-size: 2vh;
}

.eventdate {
    display: inline;
    float: right;
    color: #888888;
    font-size: 2vh;
}

@media screen and (max-device-width: 600px) { 
#doc {
    width: 98vw;
}

.eventtitle {
    font-size: 1.25vh;
}

.event {
    margin-top: 3vh;
}

.firstevent {
    margin-top: 0;
    padding-top: 0;
}

.list {
    padding-top: .125vh;
    margin-bottom: 0;
    padding-bottom: 5vh;
}
}