@media screen and (max-device-width: 600px) {
    .navlink {
        text-decoration: none;
        color: var(--focus-text-color);
        border-bottom: 3px solid transparent;
        font-size: 2.25vh;
        transition: 200ms;
        padding: 2vh;
        padding-left: 2.5vw;
        
        padding-right: 2.5vw;
        margin: 0;
    }
    
  }