@media screen and (max-device-width: 600px) {
  #server-time-start {
    font-size: medium;

  }

  #media-button {
    display: block;
    height: 40px;
    margin-left: 1vw;
  }

  #audio-container {
    width: 100vw;
  }

  #control-container {
    border-radius: 25px;
    
    
}
}
