@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #1E1E1E;
    user-select: none;
    -webkit-user-drag: none;
}


#controls {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    width: fit-content;
}

#Loading {
    display: block;
    color: #ffffffc0;
    margin: 0;
    padding: 0;
    margin-top: 1vh;
    text-align: center;
}
#controlscont {
    position: absolute;
    column-gap: 1vh;
    margin-top: 30vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
   
}

#playbuttoncontainer {
    background-color: #191919;
    border-radius: 6px;
    padding: 0;
    
}

#playbuttoncontainer:hover {
    background-color: #3d3d3d;
}

#playbuttoncontainer:active {
    background-color: #555555;
}

#audiotimestamp {
    background-color: #191919;
    height: 7vh;
    width: 21vh;
    border-radius: 6px;
    padding:0;
    top: auto;
   
    
    
}

.audiotime {
    text-align: center;
    padding:0;
    padding-bottom: 3vh;
}

#mediacontrol {
    height: 6vh;
    padding-top: 10%;
}

#status {
    font-size: 28px;
    color: red;
}

#chatbox {
    position: relative;
    width: fit-content;
    background-color: #1d1d1d;
    padding: 1vh;
    padding-top: 0;
    margin-top: 64px;
}
#submissionarea {
    
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    column-gap: 8px;
    padding-left: 1vw;
    
}

.inps {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

ul {
    height: 50vh;
    width: 22vw;
    padding-left: 2vh;
    overflow-y: scroll;
}

.msg {
    list-style: none;
    color: #ffffffab;
    background-color: #292929;
    padding-bottom: .25vh;
    padding-top: .25vh;
    padding-left: 1vh;
    margin-bottom: .25vh;
    padding-right: 3px;
    margin-top: 0;
    width: 19.5vw;
    word-wrap: break-word;
}
#textinput {
    height: 3vh;
    width: 19vw;
    background-color: #313131;
    outline: none;
    border: none;
    border-radius: 1vh;
    color: #FFFFFF;
    padding-left: 4px;
}
#submission {
    height: 2.3vh;
    margin-left: 4px;
}

h3 {
    color: #FFFFFF;
    text-align: center;
}

.secondary { 
    box-shadow: 3px 2px 16px 1px rgba(0,0,0,0.75);
    padding-top: .125vh; 
    padding-bottom: .5vh;
    padding-right: .5vh;
    padding-left: .125vh;
}

.timestamp {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    display: inline;
    float: right;
    width: fit-content;
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background: hsl(0, 0%, 6%);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: hsl(0, 0%, 6%);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 39); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4e4e4e; 
  }

  .imgcon {
    background-color: #313131;
    border-radius: 5px;
    padding: 3px;
    padding-top: 5px;
  }

  .name {
    color: darkgoldenrod;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  
  .msgcontent {
    margin: 0;
    padding: 0;
    margin-left: .25vw;
    font-size: small;
  }

  #lstncount {
    color:#ffffffc5;
    text-align: center;
    margin-top: 1vh;
    padding-top: 0;
  }




  @media only screen and (max-device-width: 700px){
    #controlscont {
        position: relative;
        column-gap: 1vh;
        margin-top: 30vh;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        width: fit-content; 
        margin-top: 180px;
    }

    #controls {
        width: fit-content;
    }

    #chatbox {
        position: relative;
        margin: auto;
        margin-top: 7vh;
    }

    ul {
        width: 80vw;
    }

    #Loading {
        color: #ffffffc0;
     
        margin-top: 1vh;
        text-align: center;
    }

    #textinput {
        width: 70vw;
        height: 5vh;
    }

    .msg {
        width: 70vw;
    }
    .timestamp {
        
        float: right;
      
        width: fit-content;
       
    }

    #playbtn {
        margin-bottom: 42px;
    }

    #submission {
        height: 8vw;
    }

    .navlink {
        font-size: medium;
        margin-left: 3vw;
    }
    
   }